<div class="register-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Регистрация</h3>
  </div>

    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="panel-body">
      <div class="field">
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, class: "form-control", placeholder: "Пароль" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Подтверждение пароля" %>
      </div>
      <div class="actions">
        <%= f.submit "Зарегистрироваться", class: "btn btn-primary", id: "register-button" %>
        <%= link_to 'Назад', login_path, class: "btn btn-default", id: "back-button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
