<div class="login-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Войти</h3>
  </div>
  <div class="panel-body">
    <%= form_tag user_sessions_path do %>
      <div class="field">
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil, class: "form-control", placeholder: "Пароль" %>
      </div>
      <div class="field">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= label_tag "Запомнить меня" %>
      </div>
      <div class="actions">
        <%= submit_tag "Войти", class: "btn btn-success", id: "login-button" %>
        <%= link_to 'Регистрация', new_user_path, class: "btn btn-primary", id: "register-button" %>
      </div>
    <% end %>
  </div>
</div>
