<header>
  <div class="row">
    <div class="col-md-4 logo">
      <%= image_tag("elements/logo.png") %>
    </div>
    <div class="col-md-8 header_nav">
      <ul class="nav nav-pills">
        <% if current_user %>
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Колоды", packs_path %></li>
          <li><%= link_to "Карточки", cards_path %></li>
          <li><%= link_to "Профиль", profile_path(current_user) %></li>
          <li><%= link_to "Выйти", :logout, method: :delete %></li>
        <% else %>
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
