<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="container-fluid">

    <%= render 'layouts/header' %>

    <section>
      <div class="row">
        <div class="col-md-12 content">
          <% flash.each do |type, message| %>
            <h3>
              <div class="alert <%= flash_class type %>">
                <%= message %>
              </div>
            </h3>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </section>

  </section>
</body>
</html>
