<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="container-fluid">

    <%= render 'layouts/header' %>

    <section>
      <div class="row">
        <div class="col-md-12 content">
          <% if flash[:access] %>
            <h3><div class="alert alert-success" role="alert"><%= flash[:access] %></div></h3>
          <% elsif flash[:danger] %>
            <h3><div class="alert alert-danger" role="alert"><%= flash[:danger] %></div></h3>
          <% else %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </section>

  </section>
</body>
</html>
